<% obj.each do |article| %>

    <div class="row">
    
    <div class="col-xs-8 col-xs-offset-2">
    
    <div class="well well-lg">
    
    <div class="article-title">
    
<<<<<<< HEAD
    <%= link_to article.title, article_path(article) %>
=======
    <%= link_to article.title, user_article_path(current_user,article) %>
>>>>>>> 40b5d358eed49f362d44871baafb3f25321a8c4a
    
    </div>
    
    <div class="article-body">
    
    <%= truncate(article.description, length: 100) %>
    <small>Created by: <%= article.user.username if article.user%>,

<%= time_ago_in_words(article.created_at) %> ago,

last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
     
    </div>
    
    <div class="article-actions">
<<<<<<< HEAD
    <%= link_to "View this articles", article_path(article), class: "btn btn-xs btn-success" %>
    <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this article", article_path(article), method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  ,class: "btn btn-xs btn-danger"  %>
    
=======

<% if logged_in? && (current_user == article.user || current_user.admin? ) %>
    <%= link_to "View this articles", user_article_path(current_user,article), class: "btn btn-xs btn-success" %>
    <%= link_to "Edit this article", 
     edit_user_article_path(current_user,article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this article", user_article_path(current_user,article), method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  ,class: "btn btn-xs btn-danger"  %>
<% end %>
>>>>>>> 40b5d358eed49f362d44871baafb3f25321a8c4a
    </div>
    
    </div>
    
    </div>
    
    </div>
    
<% end %>